@model IEnumerable<Users>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using MyProjectClient.Controllers
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- link bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- link css custom -->
    <link rel="stylesheet" href="~/css/usermanage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Login Page</title>
</head>

@{
    // Lấy dữ liệu JSON từ Session
    string userDataJson = @HttpContextAccessor.HttpContext.Session.GetString("_user");
    // Giải mã dữ liệu JSON thành đối tượng User
    var option = new System.Text.Json.JsonSerializerOptions { PropertyNameCaseInsensitive = true };
    var user = System.Text.Json.JsonSerializer.Deserialize<Users>(userDataJson, option);
}

<body>
    <div class="container">
        @if (TempData["SystemNotificationError"] != null)
    {
        <div id="systemNotification" class="alert alert-danger m-0 p-2">
            <p class="text-dark" style="margin-top: 5px; margin-bottom: 5px;">Notification: @TempData["SystemNotificationError"]</p>
        </div>
    }
    @if (TempData["SystemNotification"] != null)
    {
        <div id="systemNotification" class="alert alert-success m-0 p-2">
            <p class="text-dark" style="margin-top: 5px; margin-bottom: 5px;">Notification: @TempData["SystemNotification"]</p>
        </div>
    }
        <div class="position-relative text-center mt-5" style="width: 100px; display: flex;">
            <div class="profile">
                <img class="rounded-circle" src="~/assets/user_pic/@user.Picture" alt="admin" style="width: 40px; height: 40px;">
            <a asp-controller="AdminProfile" asp-action="Index" style="text-decoration: none;">
                <div class="profile">
                    <h6 class="mb-0">@user.Username</h6>
                    @if (@user.UserType == 1)
                    {
                        <span class="type">Admin</span>
                    }
                    else
                    {
                        <span class="type">Staff</span>
                    }
                </div>
            </a>
            </div>
            <div class="logout" style="margin-left: 45px; margin-top: 45px">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("_user") != null)
            {
                <a asp-controller="Auth" asp-action="Logout" class="btn btn-danger">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login"> Login</a>
            }
            </div>
        </div>
        <div class="page-header">
            <h1><a style="text-decoration: none; color: #000;" asp-action="Index" asp-route-id="3">Account Management</a></h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-action="Index" asp-route-id="3"><i class="fa-solid fa-users"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.userType == 3 ? "active" : "")" aria-current="page" asp-action="Index" asp-route-id="3">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-route-id="2" class="nav-link @(ViewBag.userType == 2 ? "active" : "")">Staff</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-route-id="0" class="nav-link @(ViewBag.userType == 0 ? "active" : "")">Ban account</a>
                            </li>
                            <li class="nav-item dropdown" style="z-index: 99;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    More
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item @(ViewBag.userType == -1 ? "active" : "")" asp-action="Index" asp-route-id="-1">Account Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-md-9" style="padding: 0;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div><i class="fas fa-list"></i> @ViewBag.nameTable list</div>
                        @if (@ViewBag.userType == 2)
                        {
                            <a asp-action="Create"><i class="fa-solid fa-user-plus"></i></a>
                        }
                    </div>
                    <div id="order" class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="title-col">
                                        <th class="text-center">No.</th>
                                        <th class="text-start">UserName</th>
                                        <th class="text-start">E-Mail</th>
                                        <th class="text-start">Phone</th>
                                        <th class="text-start">Date Added</th>
                                        <th class="text-center"><span>Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Count = 0;
                                    }
                                    @foreach (var Item in @Model)
                                    {
                                        if (@Item.UserType == ViewBag.userType)
                                        {
                                            Count++;
                                            <tr>
                                                <td class="text-center">@Count</td>
                                                <td class="text-start">@Item.Username</td>
                                                <td class="text-start">@Item.Email</td>
                                                <td class="text-start">@Item.PhoneNumber</td>
                                                <td class="text-start d-none d-lg-table-cell">@Item.createdAt</td>
                                                <td class="text-center">
                                                    <div class="btn-group dropdown">
                                                        <a asp-action="UserDetails" asp-route-id="@Item.Username" class="btn" aria-label="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li>
                                                                <h6 class="dropdown-header">Options</h6>
                                                            </li>
                                                            @if (@Item.UserType == 3)
                                                            {
                                                                <li><a class="dropdown-item" href="#" onclick="doBanOrUnban('@Item.Username', 0)"><i class="fas fa-ban"></i> Ban account</a></li>
                                                            }
                                                            @if (@Item.UserType == 3 || @Item.UserType == 2 || @Item.UserType == 1)
                                                            {
                                                                <li><a class="dropdown-item" href="#" onclick="doBanOrUnban('@Item.Username', -1)"><i class="fas fa-trash"></i> Delete</a></li>
                                                            }
                                                            @if (@Item.UserType == 0)
                                                            {
                                                                <li><a class="dropdown-item" href="#" onclick="doBanOrUnban('@Item.Username', 3)"><i class="fas fa-ban"></i> UnBan account</a></li>
                                                            }
                                                            @if (@Item.UserType == -1)
                                                            {
                                                                <li><a class="dropdown-item" href="#" onclick="doBanOrUnban('@Item.Username', 3)"><i class="fas fa-trash-restore"></i> Retore account</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @if (Count == 0)
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center">No one the account!</td>
                                        </tr>
                                        Count = 0;  
                                    }
                                    else
                                    {
                                        Count = 0;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="filter-order" class="col-md-3 order-lg-last d-none d-lg-block mb-3">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-filter"></i> Filter
                        </div>
                        <div class="card-body">
                            <form autocomplete="off" asp-action="GetOrderFiltered" method="get">
                                <div class="mb-3 autocomplete" style="width: 100%;">
                                    <input id="myInput" type="text" name="Username" placeholder="Enter username" class="form-control">
                                </div>
                                <input type="submit" value="Search" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // JavaScript để xử lý sự kiện click
        document.addEventListener("DOMContentLoaded", function () {
            var navItems = document.querySelectorAll(".nav-item");
            navItems.forEach(function (item) {
                item.addEventListener("click", function () {
                    // Thêm lớp active khi một nav-item được click
                    navItems.forEach(function (navItem) {
                        navItem.classList.remove("active");
                    });
                    item.classList.add("active");
                });
            });
        });

        function doBanOrUnban(UserName, userStyle) {
            var notificationToadmin;
            if (userStyle == 0) {
                notificationToadmin = "Do you want to Ban this user: ";
            } else if (userStyle == -1) {
                notificationToadmin = "Do you want to delete this user: ";
            } else if (userStyle == 3) {
                notificationToadmin = "Do you want to Unban this user: ";
            }
            if (confirm(notificationToadmin + UserName)) {
                $.ajax({
                    url: '/UserManagement/BanAccount',
                    type: 'GET',
                    data: { id: UserName, uStyle: userStyle }, // Truyền id của người dùng cần xóa
                    success: function (response) {
                        // Xử lý kết quả nếu cần
                        alert(response); // Hiển thị thông báo thành công hoặc thất bại
                        location.reload();
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                        alert('Error occurred while deleting user.');
                    }
                });
            }
        }

         setTimeout(function () {
        var systemNotification = document.getElementById('systemNotification');
        if (systemNotification) {
            systemNotification.style.display = 'none';
        }
    }, 3000);
    </script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/8143c9cd7e.js" crossorigin="anonymous"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
